/* reset */
body,html {
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  width: auto;
  list-style-type: none;
}
/* main */
#container {
  position: relative;
  margin: 0 auto;
  width: 375px;
  height: 960px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
.title { /* title */
  position: relative;
  width: 100%;
  height: 75px;
}
.big {
  position: absolute;
  top: 12.5px;
  left: 10px;
  width: 100px;
  height: 1.5em;
  border-right: 1px solid  rgb(33, 68, 134);
  color: rgb(33, 68, 134);
  font-size: 1.5em;
}
.up {
  position: absolute;
  top: 12.5px;
  left: 120px;
  width: 140px;
  height: 15px;
  color: rgb(33, 68, 134);
  font-size: 0.5em;
}
.down {
  position: absolute;
  top: 27.5px;
  left: 120px;
  width: 140px;
  height: 20px;
  color: rgb(33, 68, 134);
  font-size: 1em;
}
.divide {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
}
.divide-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 325px;
  height: 100%;
  background: 
    linear-gradient(-135deg, transparent 52px, rgb(33, 68, 134) 0) top right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.divide-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 170px;
  height: 80%;
  background: 
    linear-gradient(45deg, transparent 52px, rgba(214, 169, 72, 0.938) 0) bottom left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.infor { /* information */
  position: absolute;
  top: 100px;
  left: 19px;
  width: 90%;
  height: 600px;
}
.tip {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 150px;
  color: #fff;
  background: 
            linear-gradient(-45deg, transparent 52px, rgb(33, 68, 134) 0) bottom right,
            linear-gradient(-135deg, transparent 52px, rgb(33, 68, 134) 0) top right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.aside {
  position: absolute;
  top: 3px;
  left: 25px;
  height: 17px;
  width: 250px;
  background: 
            linear-gradient(135deg, transparent 52px, rgba(214, 169, 72, 0.938) 0) top left,
            linear-gradient(45deg, transparent 52px, rgba(214, 169, 72, 0.938) 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
.huge {
  position: absolute;
  top: 23px;
  left: 10px;
  width: 90%;
  height: 200px;
  border-top: 1px solid rgba(128, 128, 128, 0.432);
  border-left: 1px solid rgb(33, 68, 134);
}
.huge .name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2em;
}
.huge .summa {
  position: absolute;
  top: 45px;
  left: 10px;
  width: 200px;
  border-bottom: 1px solid rgba(214, 169, 72, 0.8); 
  font-size: 0.6em;
}
.huge .personal {
  position: absolute;
  top: 80px;
  left: 10px;
}
.huge .personal li {
  font-size: 0.75em;
}
.personal .f2 {
  float: left;
}
.personal .clc {
  clear: both;
}
.personal .f3 {
  margin-left: 70px;
}
.infor .level-2{
  position: absolute;
  top: 220px;
  width: 100%;
}
.level-2 .huge ul {
  margin-top: 20px;
  display: flex;
}
.huge li {
  font-size: 0.6em;
}
.huge .f1 {
  margin-left: 10px;
  color: rgb(33, 68, 134);
}
.infor .level-3 {
  position: absolute;
  top: 300px;
  width: 100%;
}
.infor .level-3 .summa {
  top: 10px;
}
.infor .level-3 ul {
  margin-top: 60px;
}
.infor .level-3 ul li {
  margin: 10px 0 0 10px;
}
.infor .level-3 .huge {
  height: 400px;
}
.infor .level-4 {
  position: absolute;
  top: 720px;
  width: 100%;
}
.infor .level-4 .huge {
  height: 100px;
}
.infor .level-4 .huge .text {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 0.7em;
}
.photo {
  position: absolute;
  top: 5px;
  right: 0;
  width: 70px;
  height: 70px;
  background: url(../img/head.png) no-repeat;
  border: 0.5px solid gray;
  border-radius: 50%;
}
